<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Vue Hello</title>
</head>
<body>
    <div id="app">
        <header :class="titleFlex">
            <div :class="titleBg">
                <h1>{{ title }}</h1>
            </div>
        </header>
        <main>
            <section>
                <label for="bg-select">Scegli un colore di sfondo del titolo</label>
                <select name="colours" id="bg-select" v-model="titleBg">
                    <option value="">Scegli un colore</option>
                    <option value="bg-red">Rosso</option>
                    <option value="bg-blue">Blu</option>
                    <option value="bg-green">Verde</option>
                </select>
            </section>
            <section>
                <input type="text" v-model="message" placeholder="scrivi un messaggio">
                <button @click="onClick">cancella</button>
                <p>{{ message }}</p>
            </section>
            <section>
                <div class="container">
                    <figure>
                        <img :src="pageImg" alt="">
                    </figure>
                </div>
            </section>
        </main>
    </div>


    <script src="./js/app.js"></script>
</body>
</html>